/* Patron de colores App Tux-Anuncios */
verde-claro = #169389
gris = #E7EAEE
rosa = #C55580
rosa-fuerte = #BF2D5E
rojo = #A01127
naranja = #D9923D
celeste = #259EB6
azul = #3A598B

body
	background gris
.btn 
	border 1px solid white
	color white
	text-transform uppercase
	&.naranja
		background naranja
header
	background verde-claro