@import 'nib'
@import 'nib/vendor'

@font-face {
	font-family: 'iconos';
	src:url('../fonts/icomoon.eot?7nwjnf');
	src:url('../fonts/icomoon.eot?#iefix7nwjnf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?7nwjnf') format('woff'),
		url('../fonts/icomoon.ttf?7nwjnf') format('truetype'),
		url('../fonts/icomoon.svg?7nwjnf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
// Prefijos propietarios
vendor-prefixes = o ms moz webkit official
/* Patron de colores App Tux-Anuncios */
verde-claro = #1fbba6
gris = #FFFFFF
gris-obscuro = #CCC
rosa = #CC6699
rosa-fuerte = #CC3366
rojo = #A01127
naranja = #f9ab2e
celeste = #37cde7
azul = #336699

body
	background gris
	font-family Arial
	font-size 16px
.btn 
	border 0
	color white
	border-radius 5px
	font-weight bold

	&.naranja
		background naranja
		padding 0.5em 1em
		
header
	background verde-claro
	border-bottom solid 5px rgba(0,0,0,0.3)
	color white
	padding 0.5em

	.logo
		display inline-block
		img
			width 60px
	.derecha
		padding 0.5em

.contenedor
	

	.anuncio-clasificado
		display none

	.seccion-cabezera
		background celeste

		.logo-grande
			text-align center
			padding 1em 0 1em 0

			img
				width 150px
	.buscador
		text-align center
		input
			border 1.5px dashed  rgba(0,0,0,0.2) 
			border-radius 5px
			font-weight bold
			font-size 0.5em
			width 60%
			padding 0.5em
			margin 0 0 1em 0
		.buscar
			text-decoration none
			color gris
			&:before
				font-family iconos
				font-size 1.5em
				content "\e609"
				
					
	.titulos
		margin 1em
		border-bottom 2px solid verde-claro
		h2
			color celeste
			font-size 1em
	.empresas-destacadas
		.ficha-empresa
			background white
			border 1px solid gris-obscuro
			border-radius 5px
			margin 1em 0.5em

					
			.ficha-cabezera
				background verde-claro
				border-radius 5px 5px 0px 0px
				text-align center
				display block
				margin 0

				img
					width 50px
					border 5px solid  rgba(255,255,255,0.3) 
					border-radius 50%
					margin 0.5em

				h3
					color white
					font-size 0.8em
					text-align center
					padding 0 0 1em 0
					margin 0

			.ficha-menu
				display block
				margin 0
				.caja
					color white
					font-size 0.8em
					width 33.3%
					display inline-block
					text-align center
					

					&.visitas
						background rosa-fuerte
						padding-top 1em
						&:before
							font-family iconos
							font-size 1.5em
							content "\e610"
						
					&.favoritos
						background naranja
						padding-top 1em
						&:before
							font-family iconos
							font-size 1.5em
							content "\e611"
						
					&.anuncios 
						background azul
						padding-top 1em
						&:before
							font-family iconos
							font-size 1.5em
							content "\e602"
			.ficha-cuerpo
				display block
				margin 0
				text-align center
				h2
					color gris-obscuro
					margin 0
					padding 0.5em
				p 
					text-align justify
					padding 0.5em
				button
					margin-bottom 0.5em
footer
	background verde-claro
	margin-top 1em
	font-size 1em
	text-align center
	padding 1em
	h3
		color white
		margin 0

.left
	float left

.right
	float right

@media screen and (min-width: 768px)
	body
		header
			.logo
				img
					width 80px
		.contenedor
			.seccion-cabezera
				.logo-grande
					img
						width 250px
			
			.buscador
				input
					border 1.5px dashed  rgba(0,0,0,0.2) 
					border-radius 5px
					display inline-block
					font-weight bold
					font-size 1em
					height 5px
					padding 1em
					margin 2em
					width 400px
			.empresas-destacadas
				.ficha-empresa
					display inline-block
					width 45%
					&:nth-child(odd)
						margin-left 3%
						margin-right 2%
@media screen and (min-width: 1080px)
			body
			.btn 
				&.naranja
					padding 1em 1.5em
				header
					padding 0.8em
					.logo
						img
							width 100px
						
				.contenedor
					text-align center
					.titulos
						text-align left
						
					.empresas-destacadas
						 
						.ficha-empresa
							font-weight normal
							display inline-block
							width 30%
							&:nth-child(odd)
								margin-left 1%
								margin-right 1%
							.ficha-cabezera
								img
									width 80px
									border 8px solid  rgba(255,255,255,0.3)
